<div class="author">
  <div>
    <section id="visual">
      <div id="cube">
        <img class="face-0" alt="Cube Face Top" src="{{ site.box-1 }}" width="768" height="768">
        <img class="face-1" alt="Cube Face Front" src="{{ site.box-2 }}" width="768" height="768">
        <img class="face-2" alt="Cube Face Right" src="{{ site.box-1 }}" width="768" height="768">
        <img class="face-3" alt="Cube Face Back" src="{{ site.box-2 }}" width="768" height="768">
        <img class="face-4" alt="Cube Face Left" src="{{ site.box-1 }}" width="768" height="768">
        <img class="face-5" alt="Cube Face Bottom" src="{{ site.box-2 }}" width="768" height="768">
      </div>
    </section>
    <h3>Hi, I am Edwin.</h3>
    <p class="author-bio">{{ site.author.bio }}</p>
  </div>
  {% include social.html %}
</div>